.skills-container{
    padding: 60px 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    /* background-color: #f9fafd; */
}

.skills-header{
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    color: rgb(255,180,0);
}
.why{
    color: #fff;
}
.skills-header h3{
    font-size: 40px;
    font-weight: 800;
}
.skills-header p{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2.5px;
}

.header-underline{
    height: 3px;
    width: 200px;
    background-color: rgb(102, 13, 13);
    background-color:rgb(255,180,0);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-underline1{
    height: 9px;
    width: 40px;
    background-color: rgb(255, 7, 7);
    background-color: rgb(255,180,0);
    position: absolute;
    border-radius: 5px;
}





/* content part */


.skillsDetails{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    /* margin-bottom: 50px; */
}

.skillBox{
    box-sizing: border-box;
    height: 250px;
    width: 350px;
    border: 1px solid rgb(255,180,0);
    border-radius: 7px;
    padding-bottom: 10px;
    transition: .15s ease-out;

}

.sillIcon,.skillTitle,.skillInfo{
    text-align: center;
    
}
.sillIcon{
    margin-top: 30px;
    font-size: 40px;
}
.skillTitle{
    margin-top: 20px;
    font-size: 23px;
    font-weight: 500;
    color: #fff;
}
.skillInfo{
    margin-top: 20px;
    color: #b5becb;
    font-weight: 500;
}

.skillBox:hover{
    /* background-color: #fff; */
    transform: scale(1.001);
    margin-top: -10px;
    transition: .15s ease-in;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}

 @media screen and (max-width: 1100px){
    .skillBox{
        width: 300px;
        
    }
}
 @media screen and (max-width: 950px){
     .boxContainer{
        grid-template-columns: auto auto;
     }

     .skillBox{
         width: 300px;
         
     }
 }

 @media screen and (max-width: 600px){
    .boxContainer{
        grid-template-columns: auto;
    }
}
/* .node{
    background-image: "https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1280px-Node.js_logo.svg.png";
} */
img{
    margin-top: 8px;
    font-size: 40px;
    width:50px
}



/* ******** */

.skills .title::after{
    content: "what i know";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: rgb(27, 27, 103);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(27, 27, 103);
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: rgb(27, 27, 103);
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(27, 27, 103);
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 60%;
}
.skills-content .right .js::before{
    width: 80%;
}
.skills-content .right .php::before{
    width: 50%;
}
.skills-content .right .mysql::before{
    width: 70%;
}







